pipeline/scenario_filtered_condition_1.json
{
	"name": "scenario_filtered_condition_1",
	"properties": {
		"activities": [
			{
				"name": "Get My Files",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [dbo].[scenario_lookup] where is_filtered=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Scenario_sql_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get My Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get My Files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load Files to prestage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().foldername",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().filename",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Scenario_source_blob",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SinkDataASQL",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().prestage_destination",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data with condition",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load Files to prestage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('Select * from ',item().prestage_destination,' where ',item().condition)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SinkDataASQL",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().prestage_destination",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SinkDataASQL",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().destination",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"aa": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-19T13:37:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}